

.body,
main {
    margin: 0;
}

.body {
    background-image: url('https://secure.wcs.org/files/wcs/Julie-Larsen-Maher_2563_Styans-Red-Panda_DIST_PPZ_11-02-15_hr.jpg');
    background-size: cover;
    background-position: right;
}


.header {
    background-color: rgb(26, 26, 28);
    color: white;
    position: fixed;
    z-index: 1000;
    width: 100%;
    font-size: 12px;
    display: inline-flex;
    justify-content: space-between;
    height: 40px;
}


.mark {
    width: 100px;
    padding-left: 35px;
}

.header-info-aside {
    background-color: aqua;
    right: 0;
    text-align:center;
    display: flex;
}

.header-info-btn {
    color: white;
    height: 100%;
    border: none;
    padding-left: 15px;
    padding-right: 15px;

}

.donate-btn {
    background-color: rgb(32, 121, 38);
}

.membership-btn {
    background-color: rgb(57, 92, 207);
}

.tickets-btn {
    background-color: rgb(240, 148, 0);
}

.main {
    background-color: transparent;
    padding: 60px;
    color: black;
}

.footer {
    background-color: rgb(40, 40, 43);
    padding: 35px 30px;
    bottom: 0;
    font-size: 14px;
    text-align: center;
}

.footer-info-section {
    align-items: center;
    padding: 30px;
}

.footer-info-btn {
    background-color: transparent;
    align-items: center;
    font-weight: bold;
    color: rgb(203, 162, 107);
    border: none;
    margin: 15px;
    padding: 2px;
}

.footer-media-section {
    text-align: center;
    padding-top: 40px;
}

.footer-media-btn {
    background-color: transparent;
    margin: 8px;
    width: 120px;
    height: 110px;
    border-radius: 7%;
    border: 1px solid rgb(141, 141, 141);
    color: rgb(141, 141, 141);
    font-weight: bold;
}

.footer-redirection-section {
    text-align: center;
    padding: 30px;
}

.footer-redirection-btn {
    background-color: transparent;
    color: rgb(37, 123, 123);
    border: none;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
}

.footer-info {
    background-color: transparent;
    color: rgba(240, 242, 255, 0.473);
    text-align: center;
}


.main-doante-div {
    background-color: rgb(223, 220, 216);
    width: 600px;
    border-radius: 1%;
    padding: 10px 30px;

}

.main-donate-title {
    color: rgb(126, 103, 74);
}